<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/fullscreen.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/xterm.css">
	<style type="text/css">
		html,body { 
			height: 100%;			
		}
		#terminal, .terminal{
		    width: 100%;
		    height: 100%;
		    font-size: 20px!important;	
		}
	</style>
</head>
<body>
	<div id="terminal">
	</div>

	<script type="text/javascript" src="/assets/js/xterm.js"></script>
	<script type="text/javascript" src="/assets/js/xterm.fit.js"></script>
	<script type="text/javascript" src="/assets/js/xterm.attach.js"></script>
	<script type="text/javascript" src="/assets/js/xterm.fullscreen.js"></script>	

	<script type="text/javascript">

		var term,protocol,socketURL,socket;

		term = new Terminal({
			cursorBlink: true //光标是否闪烁，默认不闪烁
		});

		term.on('resize', function (size) {
		    var cols = size.cols,
		        rows = size.rows,
		        url = '/ssh/size?cols=' + cols + '&rows=' + rows;

		    // fetch(url, {method: 'POST'});
		});

		protocol = (location.protocol === 'https:') ? 'wss://' : 'ws://';
  socketURL = protocol + '47.92.37.213:3000/ssh/';

		//第二个参数表示是否开启之后自动focus，默认为true
		term.open(document.getElementById('terminal'), true);		

		//自动调整大小
		//会先调用一次resize，来初始化宽高
		term.fit();

		term.toggleFullscreen(true);

		//获取初始化大小
		var initialGeometry = term.proposeGeometry(),
	      cols = initialGeometry.cols,
	      rows = initialGeometry.rows;


	    socket = new WebSocket(socketURL);
		socket.onopen = runTerminal;

		socket.onmessage = function(msg) {
		  	console.log(msg.data);
		  	term.write(msg.data);
		};

	    //运行terminal
		function runTerminal() {

			  var shellprompt = '$ ';

			  term.prompt = function () {
			    // term.write('\r\n' + shellprompt);

			  };

			  term.writeln('');
			  term.prompt();

			  term.on('key', function (key, ev) {
			    var printable = (
			      !ev.altKey && !ev.altGraphKey && !ev.ctrlKey && !ev.metaKey
			    );

			    if (ev.keyCode == 13) {
			      term.prompt();
			    } else if (ev.keyCode == 8) {
			     // Do not delete the prompt
			      if (term.x > 2) {
			        term.write('\b \b');
			      }
			    } else if (printable) {
			      term.write(key);
			    }
			  });

			  term.on('data', function (msg) {
			  	socket.send(msg);
			  });

			  term.on('paste', function (data, ev) {
			    term.write(data);
			  });


			  

		}

	</script>

</body>
</html>

